<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Someweb site</title>
</head>
<body>
{{> header}}

<p>{{screamIT welcomeMessage}}</p>
<p>Home home home home home home home </p>
<p>Home home home home home home home </p>
<p>Home home home home home home home </p>
<p>Home home home home home home home </p>
<p>Home home home home home home home </p>
<p>Home home home home home home home </p>
<p>Home home home home home home home </p>
{{> footer}}
</body>
</html>
